<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Event</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
  {% load static %}
  <link rel="stylesheet" href="{% static 'app.css' %}">
  <script src="https://kit.fontawesome.com/8f7ff4ed0e.js" crossorigin="anonymous"></script>



</head>

<body {% block class %}{% endblock class %}>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href={% url "home" %}>
        <img src="{% static "logoCropped.png" %}" id="navbarLogo">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href={% url "home" %}>
          Home
        </a>

        <a class="navbar-item" href={% url "events" %}>
          Events
        </a>

        <a class="navbar-item" href={% url "createEvent" %}>
          Plan Event
        </a>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href = "{% url "signUp" %}"class="button is-primary">
              <strong>Sign up</strong>
            </a>
            <a href = "{% url "login" %}" class="button is-light">
              Log in
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  {% block content %}



  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"
    integrity="sha384-Ft/vb48LwsAEtgltj7o+6vtS2esTU9PCpDqcXs4OCVQFZu5BqprHtUCZ4kjK+bpE"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
    integrity="sha384-4D3G3GikQs6hLlLZGdz5wLFzuqE9v4yVGAcOH86y23JqBDPzj9viv0EqyfIa6YUL"
    crossorigin="anonymous"></script>
  <script src="{% static 'app.js' %}"></script>
</body>