{% extends "base.html" %}

{% block content %}

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <i class="fa-solid fa-calendar-days"></i>
        All Events
      </h1>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns is-multiline">
    {% for event in events %}
    <div class="column is-one-third">
      <a href={% url "event" event.id%}>
        <div class="box">
          <p class="title">{{event.name}}</p>
          <div class="tags">
            <span class="tag">{{event.location}}</span>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

{% load static %}
<script src="{% static 'app.js' %}"></script>

{% endblock %}