{% extends "loggedInBase.html" %}
{% load humanize %}

{%block class%}
id = "homeBackground" class = "background2"
{% endblock %}

{% block content %}

<br>
<section class="hero pt-6">

</section>

<div class="container">
  <div class="webSection noBounce">
    <div class="container">
      <h1 class="is-size-3 webSectionText">
        <i class="fa-solid fa-calendar-days"></i>
        Browse Events
      </h1>
      <br>
      <form id="filterEventForm" action="{% url 'events' %}" method="post">
        {% csrf_token %}
        <label class="label">Filter Events:</label>
        <input id="filter" class="input is-rounded" type="text" placeholder="Search by keyword" name="filter"
          maxlength="250">
      </form>
    </div>
  </div>
  {{ events|json_script:"events-data"}}
  <div id="events" class="columns is-multiline">
    <!-- injected by app.js -->
  </div>
</div>

{% load static %}

{% endblock %}