{% extends "loggedInBase.html" %}
{% load humanize %}

{%block class%}
id = "homeBackground" class = "background2"
{% endblock %}

{%block content %}

<section class="hero is-primary pt-6">
    
</section>

<div class="modal" id="rsvp">
    <div class="modal-background"></div>
    <div class="modal-card">
        <form method="post">
            <header class="modal-card-head">
                <p class="modal-card-title">RSVP</p>
                <button class="delete" type="button" aria-label="close"></button>
            </header>
            <section class="modal-card-body">
                {% csrf_token %}
                <div class="field">
                    <label class="label">How many guests will you bring?</label>
                    <div class="control">
                        <input class="input" type="number" name="guests" value="0">
                    </div>
                </div>

                <div class="field">
                    <label class="label">Sign Up for a Task!:</label>
                    <div class="control">
                        <div class="select">
                            <select name="selectedTask">
                                <option value="-1">I don't want to help out.</option>
                                {% for task in tasks%}
                                <option value="{{task.id}}">{{task.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

            </section>
            <footer class="modal-card-foot">
                {% if rsvp %}
                <button type="submit" class="button is-success" disabled>RSVP</button>
                {% else %}
                <button type="submit" class="button is-success">RSVP</button>
                {% endif %}
                <button type="button" class="button">Cancel</button>
            </footer>

            </section>
        </form>
    </div>
</div>

<br>

<div class="container is-fluid webSectionText">

    <div class="webSection noBounce">
        <div class="container">
        <h1 class="is-size-3 webSectionText">
            <i class="fa-solid fa-book"></i>
            View Event
        </h1>
        <p>Here are the details for your event!</p>
        </div>
    </div>
    <div class="columns mt-3">
        <div class="column is-two-thirds">
            <div class="webSection closerCards">
                <h1 class="title m-2" id="title">{{event.name}}</h1>
                <br>

                <p class="m-2"> <i class="fas fa-user"></i> Brought to you by: {{event.user}}</p>

                <p class="m-2"> <i class="fa-solid fa-map-location-dot"></i> {{event.location}}</p>

                <p class="m-2"> <i class="fa-regular fa-clock"></i> {{event.date}} at {{event.time|naturaltime}}</p>

                <p class="m-2"> {{event.description}}</p>
                <br>
                {% if tasks|length != 0 %}
                <div class="title m-2">Sign up for a task!
                    <div class="control">
                        <div id="tasks" class="is-one-fifth">
                            {% for task in tasks%}
                            <button class="button is-secondary ml-3 m-2 js-modal-trigger"
                                data-target="task">{{task.name}}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}


            {% if rsvp %}
            <button id="rsvpButton" class="rsvp-button button is-primary ml-3 m-2 js-modal-trigger" data-target="rsvp"
                disabled>RSVP!</button>
            <div class="hide">You have already RSVP'd!</div>
            {% else %}
            <button class="rsvp-button button is-primary ml-3 m-2 js-modal-trigger" data-target="rsvp">RSVP!</button>
            {% endif %}


        </div>

        <div class="column">
            <div class="webSection closerCards">
                <h1 class="title m-2">Attendees</h1>
                <h2 class="subtitle m-2">Total Count: {{headCount}}</h2>
                {% for attendee in attendees%}

                <p class="atendee ml-2 m-1">{{attendee.name}} will: {{attendee.task}}, with {{attendee.guests}} guests </p>

                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% load static %}


{% endblock %}