{% extends "base.html" %}



{% block class %}
class = "background"
{% endblock class %}



{% block content %}
<div class="container has-text-centered">
  {% load static %}
  <img src={% static "logo.png" %}>
</div>


<form method="post">
  {% csrf_token %}
  <div class="container is-flex is-justify-content-center is-align-items-center" id="loginContainer">
    <div class="column is-centered is-6">
      <div class="column">
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input id="username" class="input" type="username" placeholder="Username" name="username">

            <span class="icon is-small is-left">
              <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
            </span>
          </p>
        </div>

        <div class="field">
          <p class="control has-icons-left">
            <input id="password" class="input" type="password" placeholder="Password" name="password">

            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>


        <div class="container has-text-centered">
          <div class="field">
            <p class="control">
              <button id="submit" class="button is-primary">
                Login
              </button>
            </p>
          </div>
          <div class="column">
            <p><a hfref="#">Forgot Password?</a></p>
            <p><a hfref="#">New User?</a></p>
          </div>

        </div>

      </div>
    </div>
  </div>
  </div>
</form>
{% endblock %}