{% extends "base.html" %}



{% block class %}
class = "background"
{% endblock class %}




{% block content %}
<div class "container align-items-center text-center">
  <div class = "columns is-centered">
    <div class = "webSection column is-two-fifths loginSection"> 
      <h1 class="title is-1">Login</h1>
      <form method="post">
        {% csrf_token %}
              {% if error_message %}
              <p>{{ error_message }}</p>
              {% endif %}
              <div class="field">
                <p class="control has-icons-left has-icons-right">
                  <input id="username" class="input is-rounded" type="username" placeholder="Username" name="username">

                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                  <span class="icon is-small is-right">
                  </span>
                </p>
              </div>

              <div class="field">
                <p class="control has-icons-left">
                  <input id="password" class="input is-rounded" type="password" placeholder="Password" name="password">

                  <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                  </span>
                </p>
              </div>


              <div class="container has-text-centered">
                <div class="field">
                  <p class="control">
                    <button id="submit" class="button is-primary">
                      Login
                    </button>
                  </p>
                </div>
                <div class="column">
                  <p><a href="{% url 'signUp' %}">New User?</a></p>
                </div>

              </div>

            </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}